[submodule "src/google.golang.org/grpc"]
	path = src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "src/github.com/onsi/gomega"]
    path = src/github.com/onsi/gomega
    url = https://github.com/onsi/gomega
[submodule "src/google.golang.org/genproto"]
	path = src/google.golang.org/genproto
	url = https://github.com/google/go-genproto
